CompileFlags:
  CompilationDatabase: .
  Add:
    - -Wall
    - -Wextra
    - -Wpedantic

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  ClangTidy:
    Add:
      - bugprone-*
      - clang-analyzer-*
      - modernize-*
      - performance-*
    Remove:
      - modernize-use-trailing-return-type

Index:
  Background: Build

InlayHints:
  Enabled: true
